<% subjects ||= [] %>
<% if session[:user_id] == nil %>
  <%= link_to("Login", :controller => 'access', :action => 'login') %>
<% else %>
  <%= link_to("Admin", :controller => 'access', :action => 'index') %>
<% end %>
<br />
<ul>
<% subjects.each do |subject| %>
  <li>
    <%= subject.name %>
    <ul>
    <% subject.pages.visible.sorted.each do |page| %>
      <li><%= link_to_unless_current(page.name, {:action => 'show', :permalink => page.permalink}) %></li>
    <% end %>
    </ul>
  </li>
  <% end %>
</ul>
