<!DOCTYPE html>
<html>
  <head>
    <title>Rails SimpleCMS</title>
    <%= javascript_include_tag('public') %>
  </head>
  <body>

  <!-- before yeild-->
  <%= yield %>
    <!-- before yeild-->
  
  </body>
</html>
